@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    background: #666;
}

.intro-image {
    background-attachment: fixed;
    background-image: url("../img/coffe.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;

}

.intro-image__Link a {
    background-color: rgba(64, 51, 56, 0.35);
    border: 2px solid;
    color: #FFEBCD;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;

}

.intro-image__Link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: rgb(216, 157, 81);
    color: blanchedalmond;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;

}


.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

}

.quality-image {
    background-attachment: fixed;
    background-image: url("../img/ppl\ with\ coffee.jpg");
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quality-image__link a {
    background-color: #4f3a2d94;
    border: 2px solid #4f3a2d;
    color: #9b7f65;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality-text {
    background-color: #9c9e97;
    color: #626a72;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


.origin-image {
    background-attachment: fixed;
    background-image: url("../img/coffee\ beans.jpg");
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: rgba(102, 102, 102, 0.35);
    border: 2px solid #666d;
    color: #fff;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #b39686;
    color: #3e3236;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: #4f3a2d;
    color: #8a8b8c;
    padding-top: 2rem;
    font-size: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
    transition: transform 0.3s ease-in-out
}

.footer ul li a {
    color: #8a8b8c;
    text-decoration: none;
}

.footer ul li:hover {
    /*  color: #bcc0c4; */
    transform: scale(1.2);
}